<mat-toolbar class="header">
  <h1 class="title">之乎</h1>
  <span class="desc">之乎？者也。</span>

  <span>
    <button mat-button>发现</button>
    <button mat-button>问答</button>
    <button mat-button>专栏</button>
  </span>

  <div class="input">
    <mat-form-field [floatLabel]="false">
      <input matInput type="text" placeholder="搜索感兴趣的话题">
      <button mat-raised-button color="primary" matSuffix>搜索</button>
    </mat-form-field>
  </div>

  <img class="logo" src="../../../assets/company-logo-blue.png" alt="Component Logo">
</mat-toolbar>
